.toph2 {
	
}

.mount-image {
    margin: 0px;
}

.mount-image img {
    margin-top: 41px;
	margin-bottom: 16px;
	width: 250px;
    height: auto;
}

.amazonBar {
	margin-top: 17px;
	overflow: hidden;
}

.amazonBar .priceBox {
	width: 39.99%;
	float: left;
}

.amazonBar .linkBox {
	width:59.99%;
	float: right;
}

.viewOnAmazon {
	float: right;
	background-color: rgb(255, 164, 28);
	width: 200px;
}

.viewOnAmazon p {
	color: white;
	font-weight: 600;
	text-align: center;
	font-size: 24px;
	margin: 6px;
	line-height: 1.2381;
}

h2 {
	color: #1d1d1f;
}

.amazonFooterSection {
    float: left;
    margin-top: 1em;
    width: 100%;
}

.amazonFooterSection p {
    font-weight: 300;
    font-size: 15px;
    text-align: left;
}

@media only screen and (max-width: 650px) {
	.toph2 {
		margin-top: 0.0em;
	}
}

@media (prefers-color-scheme: dark) {
    body {
		color: #1d1d1f;
		background-color: #fff;
		opacity: 1.00;
    }
}